body {
    background-image: url('/img6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(20, 20, 20, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    font-size: 0.9rem;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

.form-container input::placeholder {
    color: #bbb;
}

.form-container input:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

.form-container label {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

.form-container span {
    font-size: 0.9rem;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    display: block;
}

.error {
    color: #ff6666;
}

.success {
    color: #66ff66;
}
